@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://c.tenor.com/k5JMOBQlND0AAAAC/rick-and-morty-run-the-jewels.gif" width="100%" height="100%" alt="">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
