@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
  <style>
      body{
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      }
  </style>  
<div class="text-center">
    <img src="https://c.tenor.com/k5JMOBQlND0AAAAC/rick-and-morty-run-the-jewels.gif" width="100%" height="100%" alt="">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

</body>