@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
  <style>
      body{
          background: rgb(57,205,255);
          background: linear-gradient(90deg, rgba(57,205,255,1) 0%, rgba(33,156,139,1) 75%);
      }
  </style>  
<div class="text-center">
    <img src="https://c.tenor.com/k5JMOBQlND0AAAAC/rick-and-morty-run-the-jewels.gif" width="100%" height="100%" alt="">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>

</body>