@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Joan Camilo</td>
      <td>Olmos Duran</td>
      <td>Cll 7 # 93-08</td>
      <td>3132625244</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Andres Felipe</td>
      <td>Duarte Gonzalez</td>
      <td>Cll 168 # 14-70</td>
      <td>3168063530</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Daniela Alejandra</td>
      <td>Gonzalez</td>
      <td>Cll 170 # 20-24</td>
      <td>3192671442</td>
    </tr>
  </tbody>
</table>