#btnVer {
    background-color:#03C669;
    color: black;
    border-radius: 30px;
}

#btnVer:hover {
    background-color: #3AB379;
    color:white;
}


#btnEditar {
    background-color: #11E7E7;
    color: black;
    border-radius: 30px;
}

#btnEditar:hover {
    background-color: #6EE1E1;
    color:white;
}


#btnEliminar {
    background-color: red;
    color: black;
    border-radius: 30px;
}

#btnEliminar:hover {
    background-color: #F96F6F;
    color: white;
}

.card{
    background:#cb9513;
}
body{
     background: #afacd7;
}